<div class="show_second_container">
  <h2 style="text-align: center">脚が太い原因は〇〇？</h2>
  <div class="content_wrapper">
    <div class="content_inner">
      <div class="top_image">
        <div class="top_image_wrapper">
          <%= image_tag asset_path("困った.png") %>
        </div>
      </div>

      <div class="">
        <div style="text-align: right;margin-top: 20px;">
          <p class="right">本当はスキニー履きたいんだけど、脚が太くて履けないんだよね😭</p>
          <div class="customera_image">
            <%= image_tag("woman1.png") %>
          </div>
        </div>
        <div style="text-align: left;margin-top: 20px;">
          <div class="customerb_image">
            <%= image_tag("woman2.png") %>
          </div>
          <p class="left">エステに通ってみるのもありなんじゃない？</p>
        </div>
        <div style="text-align: right;margin-top: 20px;">
          <p class="right">前に通ってたんだけど行くのが面倒で、それに結構お金もかかるんだよね。。</p>
          <div class="customera_image">
            <%= image_tag("woman1.png") %>
          </div>
        </div>
        <div style="text-align: left;margin-top: 20px;">
          <div class="customerb_image">
            <%= image_tag("woman2.png") %>
          </div>
          <p class="left">確かに最近はコロナで余計行きづらいもんね😞😭</p>
        </div>
      </div>

      <div class="">
        <p class="line_height text1">
          このような体型のお悩みは<br>
          女性の多くが抱えています。
        </p>
        <div class="">
          <div class="hukidashi_image_wrapper">
            <%= image_tag asset_path("吹き出し.png") %>
          </div>
          <p class="line_height" style="margin-bottom: 0;">
            自宅で本格エステが味わえる<br>
            <span class="font_size marker">セルフキャビテーション</span><br>をご紹介します！
          </p>
          <p class="line_height" style="margin: 0;">⬇︎⬇︎⬇︎</p>
          <div class="ad_wrapper">
            <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKRN6A" rel="nofollow">ボニックPro</a>
            <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKRN6A" alt="">
          </div>
        </div>
      </div>

      <div class="solution_wrapper">
        <div class="solution_inner">
          <div class="title_wrapper">
            <h2>脂肪が取れない原因は？</h2>
          </div>
          <p class="line_height">
            突然ですが下の写真のように<br>太ももや二の腕など<br>気になる部位つねってみてください！
            <!--セルライトとは<br><span class="bold">"冷え"</span>や<span class="bold">"むくみ"</span>などによってできた<br>「脂肪の塊」<br>-->
          </p>
          <div class="seruraito_image_wrapper">
            <%= image_tag asset_path("セルライト.jpg") %>
          </div>
          <p class="line_height">
            ボコボコしたものが出てきましたか？<br>
            それは<span class="marker">『セルライト』</span>と言われ<br>
            いわば<span class="bold">”脂肪の塊”</span>です😲<br>
          </p>
          <p class="line_height">
            <span class="font_size marker">あなたの脚が太い原因は<br>このセルライトです！</span>
          </p>
          <div class="cabitation_image_wrapper">
            <%= image_tag asset_path("check.png") %>
          </div>
        </div>
        <p class="graph_text line_height">またセルライトを気にしている女性は<br>全国に<span class="marker font_size">約8割</span>いると言われてます。</p>
        <div class="graph_wrapper">
          <div class="graph_inner">
            <p>セルライトが気になる・・</p>
            <%= image_tag asset_path("graph.png") %>
          </div>
        </div>
        <!--<div class="">
          <p class="line_height">この<span class="marker">セルライトを無くす方法</span>として<span class="marker bold"><br>セルフキャビテーション</span>を<br>ご紹介します。</p>
          <div class="ad_wrapper">
            <p class="guid">紹介する商品の公式ＨＰはこちら</p>
            <div class="ad_wrapper">
              <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKRN6A" rel="nofollow">ボニックPro</a>
              <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKRN6A" alt="">
            </div>
          </div>
        </div>-->
      </div>
      <div class="offer_wrapper">
        <div class="title_wrapper">
          <h2>セルライトを無くすには<br>どうすればいいの？</h2>
        </div>
        <div class="">
          <p class="line_height">
            ネット上では、、<br>
            「運動すれば」「マッサージすれば」<br>
            といった情報をよく見かけますが、、<br>
          </p>
        </div>
        <p class="line_height">これでは<span style="font-size:25px;" class="marker">無くなりません！</span></p>
        <p class="line_height">
          セルライトを無くすには<br>
          <span class="marker">機械で溶かす以外方法はありません！</span>
        </p>
        <p class="line_height">運動やマッサージは<br>代謝を上げ体が温まるので<br>セルライトの予防にはなりますが<br>あくまで<span class="marker bold">予防</span>です🤔<br>
        <span class="marker font_size">既に出来てしまったセルライトを<br>無くす方法ではありません。</span><br></p>
        <!--<p>
          セルライトとは先ほども述べたとおり<br>脂肪が固まってできた<span class="marker">”脂肪の塊”</span><br>
          運動やマッサージは<br>代謝を上げ体が温まるので<br>セルライトの予防にはなりますが<br>あくまで<span class="marker bold">予防</span>です。<br>
          <span class="marker bold">既に出来てしまったセルライトを<br>無くす方法ではありません。</span><br>
        </p>-->
      </div>

      <div class="cabitation_wrapper">
        <p class="line_height">
          キャビテーションとは<br>超音波により気泡を発生させ<br>セルライトを溶かします。
        </p>
        <div class="cabitation_image_wrapper">
          <%= image_tag asset_path("仕組み.png") %>
        </div>
        <p class="line_height">
          <span class="marker">痛くない</span>、<span class="marker">切らない脂肪吸引</span><br>とも言われています。
        </p>
      </div>
      <div class="offer_inner">
        <p class="line_height">これをエステに通ってとなると、</p>
        <div class="go_image_wrapper">
          <%= image_tag asset_path("エステ通う.png") %>
        </div>
        <p class="line_height">
          そんな方にお勧めしたいのが<br>今回取り上げた
          <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKRN6A" rel="nofollow">ボニックPro</a>
          <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKRN6A" alt="">。<br>
          ボニックProなら<br><span class="marker bold">自宅で1日5分</span>ででき<br>かつ<span class="marker bold">プロのエステティシャン</span>が<br><span class="marker bold">RIZAP WOMAN監修</span>のもと作ったため<br>信頼性がかなり高いです♫
        </p>
      </div>
      <p class="line_height">そして<br><span class="bold">コンパクト</span>で<span class="bold">コードレス</span>なため<br><span class="marker font_size">別のことをしながら</span>でも<br>使用することができます。</p>
      <div class="scene_wrapper">
        <div class="scene_content_wrapper">
          <div class="scene">
            <div class="scene_inner">
              <%= image_tag asset_path("bath.jpg") %>
              <!--<i class="fas fa-9x fa-bath"></i>-->
              <p class="scene_content">防水なので<br>お風呂に入りながら♪</p>
            </div>
          </div>
          <div class="scene">
            <div class="scene_inner">
              <%= image_tag asset_path("youtube.jpg") %>
              <!--<i class="fab fa-9x fa-youtube"></i>-->
              <p class="scene_content">リラックスして<br>youtubeを見ながら♪</p>
            </div>
          </div>
          <div class="scene">
            <div class="scene_inner">
              <%= image_tag asset_path("電話.jpg") %>
              <!--<i class="fas fa-9x fa-mobile-alt"></i>-->
              <p class="scene_content">友達とおしゃべりしながら♪</p>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="show_point_wrapper">
        <h3>【おすすめPoint】</h3>
        <p class="line_height">
          ★１日５分で完了！<br>
          ★自宅で本格エステが味わえる！<br>
          ★ＲＡＩＺＡＰ ＷＯＭＡＮ監修！<br>
          ★別の事をしながらできる！<br>
          ★コードレスで防水機能も搭載！
        </p>
      </div>-->
      <div class="show_point_image">
        <%= image_tag asset_path("point.png") %>
      </div>
      <div class="ad_wrapper">
        <p class="guid">詳しくは公式ＨＰへ</p>
        <div class="ad_wrapper">
          <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKRN6A" rel="nofollow">ボニックPro</a>
          <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKRN6A" alt="">
        </div>
      </div>
      <div class="ad_wrapper_img">
        <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKZKO1" rel="nofollow">
        <img border="0" width="300" height="250" alt="" src="https://www23.a8.net/svt/bgt?aid=201109920129&wid=002&eno=01&mid=s00000001671070038000&mc=1"></a>
        <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKZKO1" alt="">
      </div>

      <div class="fee_introduction_wrapper">
        <div class="title_wrapper">
          <h2>料金について</h2>
        </div>
        <p class="line_height">今ならキャンペーン中につき<br><span class="marker bold">特別価格でお届け！</span></p>
        <div class="fee_introduction_inner">
          <div class="">
            <h2><%= image_tag asset_path("クラッカー.png") %>お得な定期コース<%= image_tag asset_path("クラッカー2.png") %></h2>
            <p class="fee_text">3ヶ月(3回)以上</p>
            <p style="text-decoration: underline;margin-top: 30px;margin-bottom: 10px;">★初回限定価格★</p>
            <p style="margin-top: 0;"><span class="fee_high">24,300円</span>⇨<span class="fee_marker"><span class="fee_low">6,400円</span></span></p>
          </div>
          <div class="breakdown_wrapper">
            <p class="breakdown_title">＜内訳＞</p>
            <p>ボニック Pro本体<br><span class="fee_high">18,000円</span> ⇨ <span class="fee_marker"><span class="fee_low_sub">980円</span></span></p>
            <p>プレミアムリフトジェル<br><span class="fee_high">6,300円</span> ⇨ <span class="fee_marker"><span class="fee_low_sub">5,480円</span></span></p>
          </div>
          <p class="fee_warning">※2回目以降はジェル代の5,480円+送料630円</p>
        </div>
      </div>
      <p class="line_height">つまり初回の購入では<br><span class="marker">20,000円ほど安く</span>なり<br>2回目以降はジェル代のみで<br>継続が可能です♫</p>
      <div class="benefits_container">
        <p class="benefit_container_text">また安心して試せるように<br><span>３つの特典付き！</span></p>
        <div class="benefits_wrapper">
          <div class="benefits_inner">
            <div class="benefits_point_wrapper">
              <p class="benefit_point_number">１．</p>
            </div>
            <div class="benefit_content_wrapper">
              <p class="benefit_content_inner">１年間の安心保証</p>
              <p class="benefit_content_sub">ご購入日から1年以内は返品・交換が可能</p>
            </div>
          </div>
          <div class="benefits_inner">
            <div class="benefits_point_wrapper">
              <p class="benefit_point_number">２．</p>
            </div>
            <div class="benefit_content_wrapper">
              <p class="benefit_content_inner">３０日間の返品・返金保証</p>
              <p class="benefit_content_sub">商品到着後30日以内はお体に合わない場合返品・返金保証付き</p>
            </div>
          </div>
          <div class="benefits_inner">
            <div class="benefits_point_wrapper">
              <p class="benefit_point_number">３．</p>
            </div>
            <div class="benefit_content_wrapper">
              <p class="benefit_content_inner">カスタマーセンターサポート</p>
              <p class="benefit_content_sub">ダイエットの相談ボニックProの利用方法等のサポート付き</p>
            </div>
          </div>
        </div>
      </div>
      <div class="action_wrapper">
        <p class="line_height">
          最近、仕事や学校は<br>リモートでやることが多くなり<br>また休日も家にいることが<br>多くなったと思います。<br>
          家にいる今長年気にしていた体型を<br>すっきりさせたいならば<br>
          下のボタンから公式サイトに飛んで<br>自宅で試しちゃいましょう！！
        </p>
      </div>
      <div class="ad_wrapper">
        <p class="guid">公式ＨＰはこちら</p>
        <div class="ad_wrapper">
          <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKRN6A" rel="nofollow">ボニックPro</a>
          <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKRN6A" alt="">
        </div>
      </div>
    </div>


    <!--<div class="side_wrapper">
      <div class="side_wrapper_fixed">
        <div class="side_inner">
          <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKUUWX" rel="nofollow">
          <img border="0" alt="" src="https://www28.a8.net/svt/bgt?aid=201109920129&wid=002&eno=01&mid=s00000001671070016000&mc=1"></a>
          <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKUUWX" alt="">
        </div>
        <div class="side_inner">
          <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKZKO1" rel="nofollow">
          <img border="0" width="300" height="250" alt="" src="https://www29.a8.net/svt/bgt?aid=201109920129&wid=002&eno=01&mid=s00000001671070038000&mc=1"></a>
          <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKZKO1" alt="">
        </div>
        <div class="side_inner_Vertical">
          <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKTCWH" rel="nofollow">
          <img border="0" width="160" height="600" alt="" src="https://www20.a8.net/svt/bgt?aid=201109920129&wid=002&eno=01&mid=s00000001671070009000&mc=1"></a>
          <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKTCWH" alt="">
        </div>
      </div>
    </div>-->
  </div>
</div>
