<div class="show_container">
  <div class="top_image">
    <%= image_tag asset_path("Top.png") %>
  </div>

  <div class="content_wrapper">
    <div class="content_inner">
      <div class="first_section">
        <h2 class="h2_pc">最近こんなこと考えていませんか？？</h2>
        <h2 class="h2_mobile">最近こんなこと<br>考えていませんか？？</h2>
        <div class="first_section_container">
          <div class="first_section_wrapper">
            <div class="first_section_image_wrapper">
              <%= image_tag asset_path("忙しい.png") %>
            </div>
            <div class="first_section_text_wrapper">
              <p>
                セルライトが気になるけど、<br>
                エステに通う時間がない。。
              </p>
            </div>
          </div>
          <div class="first_section_wrapper first_section_second">
            <div class="first_section_text_wrapper">
              <p>
                子供の将来を考えると、<br>
                エステ通うのは高いなぁ。。
              </p>
            </div>
            <div class="first_section_image_wrapper small_pic">
              <%= image_tag asset_path("子育て.png") %>
            </div>
          </div>
          <div class="first_section_wrapper">
            <div class="first_section_image_wrapper small_pic">
              <%= image_tag asset_path("産後.png") %>
            </div>
            <div class="first_section_text_wrapper">
              <p>
                産後太りって<br>
                どうにかならないかなぁ。。
              </p>
            </div>
          </div>
        </div>
      </div>


      <div class="second_section">
        <p>
          何かと忙しくて、時間もないし<br><br>
          子供のことを考えると、<br><br>
          自由にお金も使えない。。
        </p>
        <p>
          でも本当は自分磨きをして、<br><br>
          『きれいになりたい！』
        </p>
        <p class="text">
          そんなあなたに<span>時間をかけず、</span><br><br>
          <span>お家で簡単に</span>自分磨きが出来る<br><br>
          セルフキャビテーションのご紹介です。
        </p>
        <p class="arrow">⇩⇩⇩</p>
        <div class="ad_wrapper">
          <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKRN6A" rel="nofollow">ボニックPro</a>
          <img border="0" width="1" height="1" src="https://www11.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKRN6A" alt="">
        </div>
        <div class="second_section_container">
          <div class="second_section_wrapper">
            <div class="second_section_image_wrapper">
              <%= image_tag asset_path("美容.png") %>
            </div>
            <div class="second_section_text_wrapper">
              <p>
                空いている時間に<br>
                お家で簡単にケアができる！
              </p>
            </div>
          </div>
          <div class="second_section_wrapper second_section_second">
            <div class="second_section_text_wrapper">
              <p>
                今購入すると<br>
                お得なプライス！
              </p>
            </div>
            <div class="second_section_image_wrapper">
              <%= image_tag asset_path("嬉しい.png") %>
            </div>
          </div>
          <div class="second_section_wrapper">
            <div class="second_section_image_wrapper">
              <%= image_tag asset_path("beauty.png") %>
            </div>
            <div class="second_section_text_wrapper">
              <p>
                コンパクトなため<br>
                気になる箇所に直接アプローチ！
              </p>
            </div>
          </div>
        </div>

        <div class="third_section">
          <p>
            そもそもキャビテーションという機械は、<br><br>
            セルライトの分解に使われます。
          </p>
          <p>
            セルライトの分解についてネット上では、<br><br>
            <span class="example_text">「運動すれば、、」「マッサージすれば、、」</span>
            <span class="example_text_mobile">「運動すれば、、」<br><br>「マッサージすれば、、」</span>
            <br><br>
            <span class="pc">などの様な情報が、多く掲載されておりますが、<br><br></span>
            <span class="mobile">などの様な情報が、<br><br>多く掲載されておりますが、<br><br></span>
            皆さんご存知のとおり、セルライトとは<br><br>
            <span class="bold">"冷え"</span>や<span class="bold">"むくみ"</span>などから出来るもので、<br><br>
            運動やマッサージはその予防に過ぎず、<br><br>
            <span class="stand_out pc">完全にセルライトを除去することはできません。</span>
            <span class="stand_out mobile">完全にセルライトを<br>除去することはできません。</span>
          </p>
          <div class="third_image_wrapper">
            <%= image_tag asset_path("セルライト.jpg") %>
          </div>
        </div>
        <div class="forth_section">
          <h2>お家でケアする時間もない！</h2>
          <p class="forth_section_p">
            ボニックプロなら<span class="five_min">１日５分</span>で出来るため、<br><br>
            子育てや仕事、家事などと、<br><br>
            毎日忙しいあなたも簡単に試せます。<br><br>
            さらには、<span>コードレス</span>で<span>防水機能</span>のため、<br><br>
            後片付けも楽ちんなのです♫
          </p>

          <div class="">
            【おすすめPoint】<br><br>
            ★１日５分でしっかりコミット！<br><br>
            ★エステに行かず自宅で完了！<br><br>
            ★防水機能も搭載！<br><br>
            ★"キャビテーション","RF","EMS"を集約！<br><br>
            ★RFは約５００kHz！<br><br>
            ★ＲＡＩＺＡＰ ＷＯＭＡＮ監修！
          </div>

          <div class="fee_wrapper">
            <h2>自由に使えるお金もない！</h2>
            <p>
              夫婦で共働きであれど、<br><br>
              またそこまでお金に苦労していなくても<br><br>
              今後の子供にかかるお金を考えると、<br><br>
              そこまで自由に使えないと、<br><br>
              いつも一歩踏み止まってしまうと思います。
            </p>
            <p>
              ボニックプロでは、<br><br>
              今なら初回限定で<span class="fee_lower">大幅値下げ中！</span><br><br>
            </p>
          </div>

          <div class="fee_introduction_wrapper">
            <p class="fee_text">★初回限定のお得なプライス★</p>
            <div class="">
              <p>（本体 + ジェル）</p>
              <p><span class="fee_high">24,300円</span>　⇨　<span class="fee_low">6,400円</span></p>
            </div>
          </div>

          <div class="ad_wrapper_fee">
            <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKTKM9" rel="nofollow">
            <img border="0" width="384" height="106" alt="" src="https://www26.a8.net/svt/bgt?aid=201109920129&wid=002&eno=01&mid=s00000001671070010000&mc=1"></a>
            <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKTKM9" alt="">
          </div>

        </div>

        <div class="six_section">
          <p>
            子育てや家事、仕事と忙しく<br><br>
            また現在はコロナということもあり<br><br>
            自粛することが多いかと思います。
          </p>
          <p>
            そんな中だからこそ、<br><br>
            周りと少し差を作って<br><br>
            簡単にお家で自分磨きをしませんか？
          </p>
          <p>
            美しく、綺麗になったママは<br><br>
            お子さんにとっても旦那さんにとっても<br><br>
            嬉しいこと間違いなしです！
          </p>
        </div>

        <div class="seven_section">
          <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKZKO1" rel="nofollow">
          <img border="0" width="300" height="250" alt="" src="https://www21.a8.net/svt/bgt?aid=201109920129&wid=002&eno=01&mid=s00000001671070038000&mc=1"></a>
          <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKZKO1" alt="">
        </div>
      </div>

    </div>
    <div class="side_wrapper">
      <div class="side_wrapper_fixed">
        <div class="side_inner">
          <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKUUWX" rel="nofollow">
          <img border="0" alt="" src="https://www28.a8.net/svt/bgt?aid=201109920129&wid=002&eno=01&mid=s00000001671070016000&mc=1"></a>
          <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKUUWX" alt="">
        </div>
        <div class="side_inner">
          <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKZKO1" rel="nofollow">
          <img border="0" width="300" height="250" alt="" src="https://www29.a8.net/svt/bgt?aid=201109920129&wid=002&eno=01&mid=s00000001671070038000&mc=1"></a>
          <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKZKO1" alt="">
        </div>
        <div class="side_inner_Vertical">
          <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKTCWH" rel="nofollow">
          <img border="0" width="160" height="600" alt="" src="https://www20.a8.net/svt/bgt?aid=201109920129&wid=002&eno=01&mid=s00000001671070009000&mc=1"></a>
          <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKTCWH" alt="">
        </div>
      </div>
    </div>
  </div>

</div>
