<div class="show_second_container">
  <h1 class="title">あなたの脚が太い原因は、〇〇！？</h1>
  <div class="content_wrapper">
    <div class="content_inner">
      <div class="first_section">
        <h2>こんな経験ないですか？？</h2>
        <div class="first_section_container">
          <div class="first_section_wrapper">
            <div class="first_section_image_wrapper">
              <%= image_tag asset_path("ズボン履けない.png") %>
            </div>
            <div class="first_section_text_wrapper">
              <p>
                すっごい可愛いパンツ見つけたけどパツパツで似合わない
              </p>
            </div>
          </div>
          <div class="first_section_wrapper first_section_second">
            <div class="first_section_text_wrapper">
              <p>
                あの人が着てた服着たいけどスリム体型じゃないとムリ
              </p>
            </div>
            <div class="first_section_image_wrapper">
              <%= image_tag asset_path("産後.png") %>
            </div>
          </div>
          <div class="first_section_wrapper">
            <div class="first_section_image_wrapper">
              <%= image_tag asset_path("下半身太い.png") %>
            </div>
            <div class="first_section_text_wrapper">
              <p>
                せっかく体重落ちたのに脚が太いままだから着たい服が着れない
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="solution_wrapper">
        <div class="">
          <p class="line_height">
            女性の約9割は自分の体型に悩みを抱えていると言われています。<br>
            そんな不満な体型からもっとスリムな体型になって楽しみの幅を広げたいですよね。<br>
            でもそんな想いとは反対に脚の脂肪ってなかなか取れなくて諦めちゃう人も多いのです。<br>
            せっかく頑張って体重を落としたのに脚だけ変化無いとか。。
          </p>
          <p class="line_height">
            ですがその原因は、<span class="marker">やり方を間違えているだけ！</span>
          </p>
        </div>
        <div class="solution_inner">
          <p class="line_height">
            脚の脂肪が落ちにくい原因は、<span class="marker font_size">『セルライト』</span>です。<br>
            セルライトとは<span class="bold">"冷え"</span>や<span class="bold">"むくみ"</span>などによってできたいわば「脂肪の塊」。<br>
            下記の写真のようにボコボコしているのが特徴ですね。
          </p>
        </div>
        <div class="seruraito_image_wrapper">
          <%= image_tag asset_path("セルライト.jpg") %>
        </div>
        <p class="graph_text line_height">またこのセルライトを気にしている女性は全国に<span class="marker font_size">約8割</span>いると言われており、悩んでる女性はかなりいるみたいです。</p>
        <div class="graph_wrapper">
          <div class="graph_inner">
            <%= image_tag asset_path("graph.png") %>
          </div>
        </div>
        <div class="">
          <p class="line_height">今回の記事ではこの<span class="marker">セルライトを無くす方法</span>として<span class="marker bold">セルフキャビテーション</span>をご紹介します。</p>
          <div class="ad_wrapper">
            <p class="guid">紹介する商品の公式ＨＰはこちら</p>
            <div class="ad_wrapper">
              <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKRN6A" rel="nofollow">ボニックPro</a>
              <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKRN6A" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="offer_wrapper">
        <h2>セルライトを無くすにはどうすればいいの？</h2>
        <p class="line_height">
          ネット上ではセルライトを無くす方法として、<span class="bold">「運動すれば」「マッサージすれば」</span>などといった情報をよく見かけます。<br>
          しかし、その情報は<span class="marker font_size underline">間違いです。</span><br>
          セルライトとは先ほども述べたとおり脂肪が固まってできた”脂肪の塊”です。<br>
          運動やマッサージは、代謝を上げ体が温まるのでセルライトの予防にはなりますが、あくまで<span class="marker bold">予防</span>です。<br>
          <span class="marker bold">既に出来てしまったセルライトを無くす方法ではありません。</span><br>
        </p>
      </div>
      <div class="cabitation_wrapper">
        <p class="line_height">そこで今回セルライトを無くす方法として挙げているのがキャビテーション。</p>
        <div class="cabitation_image_wrapper">
          <%= image_tag asset_path("仕組み.png") %>
        </div>
        <p class="line_height">
          キャビテーションとは超音波により気泡を発生させ、その気泡が弾ける際に乳化する仕組みの機械です。<br>
          <span class="marker">痛くない</span>、<span class="marker">切らない脂肪吸引</span>とも言われています。
        </p>
      </div>
      <div class="offer_inner">
        <p class="line_height">またエステに通いキャビテーションの施術を受けることもできますが、エステに通うとなると、</p>
        <div class="go_image_wrapper">
          <%= image_tag asset_path("エステ通う.png") %>
        </div>
        <p class="line_height">
          そんな方にお勧めしたいのが、今回取り上げた
          <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKRN6A" rel="nofollow">ボニックPro</a>
          <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKRN6A" alt="">。<br>
          ボニックProなら<span class="marker bold">自宅で1日5分</span>ででき、かつ<span class="marker bold">プロのエステティシャン</span>が<span class="marker bold">RIZAP WOMAN監修</span>のもと作ったため信頼性がかなり高いです。
        </p>
      </div>
      <p class="line_height">そして何より、<span class="bold">コンパクト</span>で<span class="bold">コードレス</span>なため<span class="marker font_size">別のことをしながら</span>でも使用することができます。</p>
      <div class="scene_wrapper">
        <div class="scene_content_wrapper">
          <div class="scene">
            <div class="scene_inner">
              <i class="fas fa-9x fa-bath"></i>
              <p class="scene_content">防水なのでお風呂に入りながら♪</p>
            </div>
          </div>
          <div class="scene">
            <div class="scene_inner">
              <i class="fab fa-9x fa-youtube"></i>
              <p class="scene_content">リラックスしてyoutubeをみながら♪</p>
            </div>
          </div>
          <div class="scene">
            <div class="scene_inner">
              <i class="fas fa-9x fa-mobile-alt"></i>
              <p class="scene_content">友達とおしゃべりしながら♪</p>
            </div>
          </div>
        </div>
      </div>
      <div class="show_point_wrapper">
        <h3>【おすすめPoint】</h3>
        <p class="line_height">
          ★１日５分で完了！<br>
          ★自宅で本格エステが味わえる！<br>
          ★ＲＡＩＺＡＰ ＷＯＭＡＮ監修！<br>
          ★別の事をしながらできる！<br>
          ★コードレスで防水機能も搭載！
        </p>
      </div>
      <div class="ad_wrapper">
        <p class="guid">詳しくは公式ＨＰへ</p>
        <div class="ad_wrapper">
          <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKRN6A" rel="nofollow">ボニックPro</a>
          <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKRN6A" alt="">
        </div>
      </div>
      <div class="ad_wrapper_img">
        <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKUUWX" rel="nofollow">
        <img border="0" width="300" height="250" alt="" src="https://www29.a8.net/svt/bgt?aid=201109920129&wid=002&eno=01&mid=s00000001671070016000&mc=1"></a>
        <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKUUWX" alt="">
      </div>

      <div class="fee_introduction_wrapper">
        <h2>料金について</h2>
        <p class="line_height">今ならキャンペーン中につき<span class="marker bold">大幅値下げ！</span></p>
        <div class="fee_introduction_inner">
          <div class="">
            <p>本体とジェル合わせて</p>
            <p style="text-decoration: underline;">★初回限定価格★</p>
            <p><span class="fee_high">24,300円(税別)</span>⇨<span class="fee_marker"><span class="fee_low">6,400円</span>(税別)</span></p>
          </div>
          <div class="breakdown_wrapper">
            <p class="breakdown_title">＜内訳＞</p>
            <p>BONIC Pro本体<br><span class="fee_high">18,000円(税別)</span> ⇨ <span class="fee_marker"><span class="fee_low_sub">980円</span>(税別)</span></p>
            <p>プレミアムリフトジェル<br><span class="fee_high">6,300円(税別)</span> ⇨ <span class="fee_marker"><span class="fee_low_sub">5,480円</span>(税別)</span></p>
          </div>
          <p class="fee_warning">※2回目以降はジェル代の5,480円(税別)+送料630円(税別)</p>
        </div>
      </div>
      <p class="line_height">つまり初回の購入では<span class="marker">20,000円ほど安く</span>なり2回目以降はジェル代のみで継続が可能です♫</p>
      <div class="benefits_container">
        <p class="benefit_container_text">また安心して試せるように<br><span>３つの特典付き！</span></p>
        <div class="benefits_wrapper">
          <div class="benefits_inner">
            <div class="benefits_point_wrapper">
              <p class="benefit_point_number">１．</p>
            </div>
            <div class="benefit_content_wrapper">
              <p class="benefit_content_inner">１年間の安心保証</p>
              <p class="benefit_content_sub">ご購入日から1年以内は返品・交換が可能</p>
            </div>
          </div>
          <div class="benefits_inner">
            <div class="benefits_point_wrapper">
              <p class="benefit_point_number">２．</p>
            </div>
            <div class="benefit_content_wrapper">
              <p class="benefit_content_inner">３０日間の返品・返金保証</p>
              <p class="benefit_content_sub">商品到着後30日以内はお体に合わない場合は返品・返金保証付き</p>
            </div>
          </div>
          <div class="benefits_inner">
            <div class="benefits_point_wrapper">
              <p class="benefit_point_number">３．</p>
            </div>
            <div class="benefit_content_wrapper">
              <p class="benefit_content_inner">カスタマーセンターサポート</p>
              <p class="benefit_content_sub">ダイエットの相談ボニックProの利用方法等のサポート付き</p>
            </div>
          </div>
        </div>
      </div>
      <div class="action_wrapper">
        <p class="line_height">
          最近、仕事や学校はリモートでやることが多くなり、また休日も家にいることが多くなったと思います。<br>
          着たい服を自由に選び、よりファッションを楽しむためにも家にいる今が長年気にしていた体型をすっきりさせるチャンスです！！<br>
          是非一度お試しください！
        </p>
      </div>
      <div class="ad_wrapper">
        <p class="guid">詳しくは公式ＨＰへ</p>
        <div class="ad_wrapper">
          <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKRN6A" rel="nofollow">ボニックPro</a>
          <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKRN6A" alt="">
        </div>
      </div>
    </div>


    <div class="side_wrapper">
      <div class="side_wrapper_fixed">
        <div class="side_inner">
          <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKUUWX" rel="nofollow">
          <img border="0" alt="" src="https://www28.a8.net/svt/bgt?aid=201109920129&wid=002&eno=01&mid=s00000001671070016000&mc=1"></a>
          <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKUUWX" alt="">
        </div>
        <div class="side_inner">
          <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKZKO1" rel="nofollow">
          <img border="0" width="300" height="250" alt="" src="https://www29.a8.net/svt/bgt?aid=201109920129&wid=002&eno=01&mid=s00000001671070038000&mc=1"></a>
          <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKZKO1" alt="">
        </div>
        <div class="side_inner_Vertical">
          <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKTCWH" rel="nofollow">
          <img border="0" width="160" height="600" alt="" src="https://www20.a8.net/svt/bgt?aid=201109920129&wid=002&eno=01&mid=s00000001671070009000&mc=1"></a>
          <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKTCWH" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
