<div class="show_container">
  <div class="top_image">
    <div class="show_title_wrapper">
      <p>エステティシャン監修！</p>
      <p>自宅で簡単本格エステ！？</p>
      <div class="show_title_inner">
        <p><span>１日５分</span>で<br>しっかりコミット</p>
      </div>
    </div>
    <%= image_tag asset_path("Top.png") %>
  </div>

  <div class="content_wrapper">
    <div class="content_inner">
      <div class="first_section">
        <h2 class="h2_pc">最近こんなこと多くないですか？？</h2>
        <h2 class="h2_mobile">最近こんなこと<br>多くないですか？？</h2>
        <div class="first_section_container">
          <div class="first_section_wrapper">
            <div class="first_section_image_wrapper">
              <%= image_tag asset_path("忙しい.png") %>
            </div>
            <div class="first_section_text_wrapper">
              <p>
                セルライトが気になるけど<br>エステに通う時間がない。。
              </p>
            </div>
          </div>
          <div class="first_section_wrapper first_section_second">
            <div class="first_section_text_wrapper">
              <p>
                子供の将来を考えると<br>エステ通うのは高いなぁ。。
              </p>
            </div>
            <div class="first_section_image_wrapper">
              <%= image_tag asset_path("子育て.png") %>
            </div>
          </div>
          <div class="first_section_wrapper">
            <div class="first_section_image_wrapper">
              <%= image_tag asset_path("産後.png") %>
            </div>
            <div class="first_section_text_wrapper">
              <p>
                産後太りって<br>どうにかならないかなぁ。。
              </p>
            </div>
          </div>
        </div>
      </div>


      <div class="second_section">
        <p>
          何かと忙しくて時間もないし<br><br>
          子供のことを考えると<br><br>
          自由にお金も使えない。。
        </p>
        <p>
          でも本当は自分磨きをして<br><br>
          <span class="second_span">『きれいになりたい！』</span>
        </p>
        <p class="text">
          そんなあなたに<span class="marker">別の事をしながら</span><br><br>
          <span class="marker">時間をかけず</span>
          <span class="marker">お家で簡単</span><br><br>
          セルフキャビテーションをご紹介します！
        </p>
        <div class="guid_wrapper">
          <p class="guid">公式ＨＰはこちら</p>
          <p class="arrow">⇩⇩⇩</p>
          <div class="ad_wrapper">
            <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKRN6A" rel="nofollow">ボニックPro</a>
            <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKRN6A" alt="">
          </div>
        </div>
        <div class="second_section_container">
          <div class="second_section_wrapper">
            <div class="second_section_image_wrapper">
              <%= image_tag asset_path("美容.png") %>
            </div>
            <div class="second_section_text_wrapper">
              <p>
                空いている時間に<br>お家で簡単にケアができる！
              </p>
            </div>
          </div>
          <div class="second_section_wrapper second_section_second">
            <div class="second_section_text_wrapper">
              <p>
                今購入すると<br>お得なプライス！
              </p>
            </div>
            <div class="second_section_image_wrapper">
              <%= image_tag asset_path("嬉しい.png") %>
            </div>
          </div>
          <div class="second_section_wrapper">
            <div class="second_section_image_wrapper">
              <%= image_tag asset_path("beauty.png") %>
            </div>
            <div class="second_section_text_wrapper">
              <p>
                コンパクトなので<br>気になる箇所に<br>直接アプローチ！
              </p>
            </div>
          </div>
        </div>

        <div class="third_section">
          <p>
            そもそもキャビテーションとは<br><br>
            セルライトの分解に使われます。
          </p>
          <p>
            セルライトの分解についてネット上では<br><br>
            <span class="example_text">「運動すれば」「マッサージすれば」<br><br></span>
            <span class="example_text_mobile">「運動すれば」<br><br>「マッサージすれば」<br><br></span>
            <span class="pc">等の様な情報が多く掲載されておりますが<br><br></span>
            <span class="mobile">等の様な情報が<br><br>多く掲載されておりますが<br><br></span>
            皆さんご存知のとおりセルライトとは<br><br>
            <span class="bold">"冷え"</span>や<span class="bold">"むくみ"</span>等から出来るもので<br><br>
            運動やマッサージはその予防に過ぎず<br><br>
            <span class="stand_out pc marker">完全にセルライトを除去することはできません。</span>
            <span class="stand_out mobile marker">完全にセルライトを</span><br><br><span class="stand_out mobile marker">除去することはできません。</span>
          </p>
          <div class="third_image_wrapper">
            <%= image_tag asset_path("セルライト.jpg") %>
          </div>
        </div>
        <div class="forth_section">
          <h2>お家でケアする時間がない！</h2>
          <p class="forth_section_p">
            ボニックプロは<span class="five_min marker">別の事をしながら</span><br><br>
            しかも<span class="marker">１日５分</span>で出来るため<br><br>
            子育てや仕事,家事等と<br><br>
            毎日忙しいあなたも簡単に試せます。<br><br>
            さらには<span class="five_min marker">コードレス</span>で<span class="marker">防水機能</span>のため<br><br>
            後片付けも楽ちんなのです♫
          </p>

          <div class="scene_wrapper">
            <div class="scene_content_wrapper">
              <div class="scene">
                <div class="scene_inner">
                  <i class="fas fa-7x fa-bath pc"></i>
                  <i class="fas fa-9x fa-bath mobile"></i>
                  <p class="scene_content">防水なため<br>お風呂に入りながら♪</p>
                </div>
              </div>
              <div class="scene">
                <div class="scene_inner">
                  <i class="fas fa-7x fa-couch pc"></i>
                  <i class="fas fa-9x fa-couch mobile"></i>
                  <p class="scene_content">コンパクトなため<br>リラックスしながら♪</p>
                </div>
              </div>
              <div class="scene">
                <div class="scene_inner">
                  <i class="fas fa-7x fa-bed pc"></i>
                  <i class="fas fa-9x fa-bed mobile"></i>
                  <p class="scene_content">就寝前に<br>ベッドの上で♪</p>
                </div>
              </div>
            </div>
            <div class="show_point_wrapper">
              <h3>【おすすめPoint】</h3><br>
              ★<span class="marker">別の事をしながら</span>ボディケア！<br><br>
              ★<span class="marker">１日５分</span>でしっかりコミット！<br><br>
              ★自宅で<span class="marker">本格エステ</span>が味わえる！<br><br>
              ★<span class="marker">コードレス</span>で防水機能も搭載！<br><br>
              ★RFは約<span class="marker">５００kHz</span>！<br><br>
              ★<span class="marker">ＲＡＩＺＡＰ</span> <span class="marker">ＷＯＭＡＮ</span>監修！
            </div>
            <div class="ad_wrapper">
              <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKUUWX" rel="nofollow">
              <img border="0" width="300" height="250" alt="" src="https://www23.a8.net/svt/bgt?aid=201109920129&wid=002&eno=01&mid=s00000001671070016000&mc=1"></a>
              <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKUUWX" alt="">
            </div>
          </div>

          <div class="fee_wrapper">
            <h2>自由に使えるお金がない！</h2>
            <p>
              夫婦で共働きであっても<br><br>
              またそこまでお金に苦労していなくても<br><br>
              今後の子供等にかかるお金を考えると<br><br>
              そこまで自由に使えないと<br><br>
              いつも踏み止まってしまうと思います。
            </p>
            <p>
              ボニックプロでは<br><br>
              今なら初回限定で<span class="fee_lower marker">大幅値下げ中！</span><br><br>
            </p>
          </div>

          <div class="fee_introduction_wrapper">
            <p class="fee_text">★初回限定のお得なプライス★</p>
            <div class="">
              <p>（本体 + ジェル）</p>
              <p><span class="fee_high">24,300円</span>　⇨　<span class="fee_low">6,400円</span></p>
            </div>
            <p class="fee_warning">※2回目以降はジェル代の5,480円(税別)+送料630円(税別)</p>
          </div>
          <div class="benefits_container">
            <p class="benefit_container_text">また安心してお試しいただけるように</p>
            <h2>３つの特典付き！</h2>
            <div class="benefits_wrapper">
              <div class="benefits_inner">
                <div class="benefits_point_wrapper">
                  <p class="benefit_point_number">１．</p>
                </div>
                <div class="benefit_content_wrapper">
                  <p class="benefit_content_inner">１年間の安心保証</p>
                  <p class="benefit_content_sub">ご購入日から1年以内は返品・交換が可能</p>
                </div>
              </div>
              <div class="benefits_inner">
                <div class="benefits_point_wrapper">
                  <p class="benefit_point_number">２．</p>
                </div>
                <div class="benefit_content_wrapper">
                  <p class="benefit_content_inner">３０日間の返品・返金保証</p>
                  <p class="benefit_content_sub">商品到着後30日以内はお体に合わない場合は返品・返金保証付き</p>
                </div>
              </div>
              <div class="benefits_inner">
                <div class="benefits_point_wrapper">
                  <p class="benefit_point_number">３．</p>
                </div>
                <div class="benefit_content_wrapper">
                  <p class="benefit_content_inner">カスタマーセンターサポート</p>
                  <p class="benefit_content_sub">ダイエットの相談ボニックプロの利用方法等のサポート付き</p>
                </div>
              </div>
            </div>
          </div>

          <div class="kuwasikuha_wrapper">
            <p>詳しくは公式ＨＰをチェック✔️</p>
            <p class="arrow">⇩⇩⇩</p>
          </div>

          <div class="ad_wrapper_fee">
            <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKT56P" rel="nofollow">
            <img border="0" width="288" height="288" alt="" src="https://www27.a8.net/svt/bgt?aid=201109920129&wid=002&eno=01&mid=s00000001671070008000&mc=1"></a>
            <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKT56P" alt="">
          </div>

        </div>

        <div class="review_wrapper">
          <h2>安すぎない？<br>実際の効果は？</h2>
          <p class="review_text_wrapper">実際使った方々の口コミがこちら！</p>

          <div class="review_modal">
            <div class="review_inner review_inner_first">
              <div class="review_icon_wrapper">
                <div class="review_icon_inner">
                  <%= image_tag asset_path("主婦1.png") %>
                </div>
              </div>
              <div class="review_content_wrapper">
                <p>
                  アラフォーになり、肌のたるみと痩せにくくなったことに悩み思い切って購入。使って2日目、試しにお腹の左半分だけやってみたのですが<span class="marker">翌朝鏡を見てビックリ…！！</span>右側と左側全然違いました。なかなかケアする時間が取れないからこそ、テレビを見ながら…等<span class="marker">ながら美容</span>が良いかもしれません。とにかく今は毎朝鏡を見るのが楽しみです！
                </p>
              </div>
            </div>

            <div class="review_inner">
              <div class="review_content_wrapper">
                <p>
                  使って3週間経ち、ウエストは3.8～4cmも細くなりました。毎日専用ジェルでくるくるしながらSHAPEモードで1つの部位を5分間使用。充電式でコードレス。メンテナンスは<span class="marker">水洗いしてタオルで拭くだけなので簡単です。</span>清潔に保てるところも気に入っています♫
                </p>
              </div>
              <div class="review_icon_wrapper">
                <div class="review_icon_inner review_icon_inner_second">
                  <%= image_tag asset_path("主婦2.png") %>
                </div>
              </div>
            </div>

            <div class="review_inner">
              <div class="review_icon_wrapper">
                <div class="review_icon_inner">
                  <%= image_tag asset_path("主婦3.png") %>
                </div>
              </div>
              <div class="review_content_wrapper">
                <p>
                  エステに通う事を考えるととても安い。しかもこれは<span class="marker">プロのエステティシャンが監修</span>ということもあり心強いです。これだったらエステで同じ効果を感じることができると、エステティシャンが作ったのです。また魅力の一つとして<span class="marker">この専用のクリームの香りがとても良い</span>。これは完全にアロマに浸る事ができます。しかも体に付けるのでそのよい香りで心が癒されます！
                </p>
              </div>
            </div>
          </div>

        </div>



        <div class="">
          <p>
            別の事をしながら<br><br>
            ボディケアができるボニックプロ。<br><br>
            さらに防水のため片付けも楽ちん♫<br><br>
            また<span class="marker">ＲＡＩＺＡＰ ＷＯＭＡＮ監修</span>のもと<br><br>
            プロのエステティシャンが作った事もあり<br><br>
            <span class="marker">お家で</span> <span class="marker">本格エステ</span>が味わえます。<br><br>
            今なら約２万円もお得に購入が可能です♪
          </p>
          <div class="">
            <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKZKO1" rel="nofollow">
            <img border="0" width="300" height="250" alt="" src="https://www22.a8.net/svt/bgt?aid=201109920129&wid=002&eno=01&mid=s00000001671070038000&mc=1"></a>
            <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKZKO1" alt="">
          </div>
        </div>

        <div class="six_section">
          <p>
            子育てや家事仕事と忙しく<br><br>
            また現在はコロナということもあり<br><br>
            自粛することが多いかと思います。
          </p>
          <p>
            そんな時だからこそ<br><br>
            周りと少し差を作って<br><br>
            お家で本格エステを体験しませんか？
          </p>
          <p>
            美しく綺麗になったママは<br><br>
            お子さんにとっても旦那さんにとっても<br><br>
            嬉しいこと間違いなしです！
          </p>
        </div>

        <div class="ad_last_wrapper">
          <div class="kuwasikuha_wrapper">
            <p>公式ＨＰはこちら</p>
          </div>
          <p class="arrow">⇩⇩⇩</p>
          <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKVI29" rel="nofollow">
          <img border="0" width="468" height="60" alt="" src="https://www25.a8.net/svt/bgt?aid=201109920129&wid=002&eno=01&mid=s00000001671070019000&mc=1"></a>
          <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKVI29" alt="">
        </div>
      </div>

    </div>
    <div class="side_wrapper">
      <div class="side_wrapper_fixed">
        <div class="side_inner">
          <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKUUWX" rel="nofollow">
          <img border="0" alt="" src="https://www28.a8.net/svt/bgt?aid=201109920129&wid=002&eno=01&mid=s00000001671070016000&mc=1"></a>
          <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKUUWX" alt="">
        </div>
        <div class="side_inner">
          <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKZKO1" rel="nofollow">
          <img border="0" width="300" height="250" alt="" src="https://www29.a8.net/svt/bgt?aid=201109920129&wid=002&eno=01&mid=s00000001671070038000&mc=1"></a>
          <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKZKO1" alt="">
        </div>
        <div class="side_inner_Vertical">
          <a href="https://px.a8.net/svt/ejp?a8mat=3BQHEO+24SYL6+CW6+BKTCWH" rel="nofollow">
          <img border="0" width="160" height="600" alt="" src="https://www20.a8.net/svt/bgt?aid=201109920129&wid=002&eno=01&mid=s00000001671070009000&mc=1"></a>
          <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=3BQHEO+24SYL6+CW6+BKTCWH" alt="">
        </div>
      </div>
    </div>
  </div>

</div>
